@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
}

:root {
    --primary-color: #00000c;
    --secondary-color: #f40d30;
    --tetiary-color: #422474;
}

body {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.main {
    margin-top: 50px;
    align-content: center;
    padding: 1em;
    box-sizing: border-box;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 100px;
}


.main h1,
p {
    text-align: center;
    padding: 0.5em;
    color: var(--secondary-color);
}

.alert {
    background: #fff;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    overflow: hidden;
    cursor: default;
    right: 0px;
    top: 10px;
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    border-left: 8px solid var(--secondary-color);
}

/**Media queries */
@media (max-width: 576px) {
    .alert {
        min-width: 350px;
    }
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

.alert .rocket-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: var(--primary-color);
}

.alert .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary-color);
    padding: 20px 18px;
}

.close-btn .close-alert {
    color: #740717;
    font-size: 22px;
    line-height: 40px;

}

.tasks {
    display: grid;
    justify-content: center;
    margin: 7px;
}

.task-btn {
    border: none;
    outline: none;
    padding: 1.3em;
    margin: 5px;
    border-radius: 1em;
    cursor: pointer;
}

/**Media queries */
@media (max-width: 576px) {
    .task-btn {
        padding: 0.8em;
    }

    .icon {
        padding-right: 3px;
    }

    .task-title h3 {
        font-size: 1em;
    }

    .task-btn-content img {
        width: 50px;
    }
}

.task-btn a {
    text-decoration: none;
    color: var(--primary-color);
}

.task-btn-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.task-btn-content img {
    width: 70px;
    border-radius: 50%;
}

.icon {
    padding-right: 5px;
}

.task-title {
    font-size: 1.2em;
    padding: 10px 5px 0px 5px;
}

.task-subtitle p {
    text-align: start;
    align-self: center;
    font-weight: 600;
    font-size: 1em;
}

#game-board {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    margin: 1em;
}

/** Media query */
@media (max-width: 576px) {
    #game-board {
        width: 450px;
        margin: 5em;
    }

    .tabs {
        margin: 1em auto;
    }
}

.mainTab {
    visibility: hidden;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 3em auto;
    max-width: max-content;
    padding: 0.5em;
    background-color: rgb(51, 50, 50);
    border-radius: 1.5rem;
}

.tabs button {
    display: block;
    padding: 0.7em;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    color: white;
}

.tabs button:hover {
    background-color: var(--tetiary-color);
    border-radius: 1em;
}


.tabs button img {
    justify-content: center;
    width: 30px;
    display: inline-block;
}

.invite-btn {
    border: none;
    outline: none;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    cursor: pointer;
    margin: 1em;
}

.invite-btn p {
    font-weight: 900;
}

.invite-btn span img {
    width: 30px;
    padding: 5px;
}

.invite-btn:active {
    transform: scale(0.95);
}

.team-list h3 {
    color: var(--secondary-color);
}

.team-list-container {
    padding: 1.3em;
    height: 100%;
    margin: 10px;
    border-radius: 0.7em;
    background-color: rgb(180, 175, 175);
}